<?xml version='1.0' encoding='utf-8'?>
<widget id="ToDoList" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Rebecca Borgenhagen To Do List</name>
    <description>
        To Do List app.
    </description>
    <author>Rebecca Borgenhagen</author>
    <content src="index.html" />
    <access origin="*" />
</widget>
